<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/products" method="POST">
      <input
        name="product_name"
        type="text"
        id="product_name"
        placeholder="product_name"
      />
      <input name="brand" type="text" id="brand" placeholder="brand" />
      <input
        name="price_cad"
        type="number"
        id="price_cad"
        placeholder="price_cad"
      />
      <input
        name="product_description"
        type="text"
        id="product_description"
        placeholder="product_description"
      />
      <input name="category" type="text" id="category" placeholder="category" />
      <button>Submit</button>
    </form>
  </body>
</html>
