{%  extends "layout.html" %}
{% block content %}
    <div class="cards">
    {% for item in products %}
        <div class="card">
          <img src="" alt="" style="width:100%">
          <h1>{{ item.name}}</h1>
          <p class="price">${{ item.price }}</p>
          <p>{{ item.description}}</p>
          <p><button type="button" onclick="window.location.href='{{ url_for( 'addProduct', item_id=item.ID ) }}';">View</button></p>
        </div>
    {% endfor %}
    </div>
{% endblock content %}