<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <title>Document</title>
  </head>

  <body>
    {% if products %}
    <ul>
      {% for item in products %}
      <li>
        <span style="margin: 0 20px">{{ item.name }}</span>
        <span style="margin: 0 20px">{{ item.brand }}</span>
        <span style="margin: 0 20px">{{ item.price_cad }}</span>
        <span style="margin: 0 20px">{{ item.description }}</span>
        <span style="margin: 0 20px">{{ item.category }}</span>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </body>
</html>
